.Detail-C-Container {
    display: inline-block;
}

.Detail-C-Container > h2 {
    font-size: 35px;
}


.Detail-C-Qualities {
    text-align: left;
}

#Detail-C-Btn {
    padding: 8px 20px;
    background-color: rgb(0, 50, 126);
    border: 1px solid darkgray;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

#Detail-C-Btn:hover {
    background-color: rgb(10, 70, 162);
}