#logoHenry {
  margin-right: 20px;
}

.home {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

.home:hover {
  color: powderblue;
  text-decoration: none;
}

.b {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.nav-Add > a {
  margin: 0px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}